<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off">

	<variable name="logDirectory" value="${basedir}/logs/${shortdate}" />

	<extensions>
		<add assembly="NLog.WindowsEventLog" />
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>
	
	<targets>
		<target name="db" xsi:type="Database" keepConnection="false" useTransaction="false"
            dbProvider="System.Data.SQLite"
            connectionString="Data Source=${basedir}\Log.db3;Version=3;"
            commandText="INSERT into Log(Timestamp, Loglevel, Callsite, Message) values(@Timestamp, @Loglevel, @Callsite, @Message)">
      <parameter name="@Timestamp" layout="${longdate}"/>
      <parameter name="@Loglevel" layout="${level:uppercase=true}"/>
      <parameter name="@Callsite" layout="${callsite:filename=true}"/>
      <parameter name="@Message" layout="${message}"/>
    </target>

		<!--Запись в SQLite--><!--
		<target xsi:type="Database" name="sqlite"
				commandType="Text"
				dbProvider="Microsoft.Data.SQLite.SQLiteConnection, Microsoft.Data.SQLite"
			connectionString="Database.db">
			<commandText>
				INSERT into logging(log_level) values(@level);
			</commandText>
			--><!--<parameter name="@time_stamp" layout="${longdate}"/>--><!--
			<parameter name="@level" layout="${level}"/>
			--><!--<parameter name="@logger" layout="${logger}"/>
			<parameter name="@message" layout="${message}"/>
			<parameter name="@stacktrace" layout="${stacktrace}"/>--><!--
		</target>-->

		<!--Запись в файл-->
		<target xsi:type="File" name="allfile"
				fileName="${logDirectory}/nlog-all-${shortdate}.log" deleteOldFileOnStartup="true" concurrentWrites="true" />

	</targets>

	<rules>
		<!--В один файл-->
		<logger name="*" minlevel="Trace" writeTo="allfile" />
		<!--В SQLite-->
		<logger name="*" minlevel="Info" writeTo="sqlite"/>
		<logger name="*" minlevel="Trace" writeTo="db" />
	</rules>

</nlog>